<div class="about-visual">
    <div class="about-visual-content">
        <h1 class="about-visual-name">
            Nagano Cake
        </h1>
        <p style="color: #fbfaf5; padding-top: 150px;font-size: 2em; ">
            ⻑野県にある⼩さな洋菓⼦店「ながのCAKE」<br><br><br>
            昨年始めたInstagramから⼈気となり、全国から注⽂が来るようになりました。<br>
			InstagramのDMやメールで通販の注⽂を受けておりましたが、情報管理が煩雑になってきたため、<br>管理機能を含んだ通販サイトを開設しようと思い⾄りました。
        </p>
    </div>
</div>