<div class="about-visual">
    <div class="about-visual-content">
        <h1 class="about-visual-name">
            Nagano Cake
        </h1>
        <p style="color: #fbfaf5; padding-top: 150px;font-size: 2em; ">
            ⻑野県にある⼩さな洋菓⼦店「ながのCAKE」<br><br><br>
            昨年始めたInstagramから⼈気となり、全国から注⽂が来るようになりました。<br>
			InstagramのDMやメールで通販の注⽂を受けておりましたが、情報管理が煩雑になってきたため、<br>管理機能を含んだ通販サイトを開設しようと思い⾄りました。
        </p>
    </div>
</div>

<div class="container text-center" style="margin-top: 50px; color: #663333;">
    <div class="col-md-4">
      <h3>Address</h3>
      <div class="contact-item">
        <p>〒000-0000</p>
        <p>長野県 長野市 元善町 XX-XX-X</p>
      </div>
    </div>
    <div class="col-md-4">
      <h3>Opening Hours</h3>
      <div class="contact-item">
        <p>Mon-Thurs: 10:00 AM - 8:00 PM</p>
        <p>Fri-Sun: 11:00 AM - 10:00 PM</p>
      </div>
    </div>
    <div class="col-md-4">
      <h3>Contact Info</h3>
      <div class="contact-item">
        <p>Phone: 026-000-0000</p>
        <p>Email: info@naganocake.com</p>
      </div>
    </div>
</div>