カート一覧

<h2>ショッピングカート</h2>
<botton type="botton">カートを空にする</botton>

<!-- ここからカート一覧表示index部分 -->

<!-- ここまでカート一覧表示index部分 -->

<botton type="botton">買い物を続ける</botton>
<botton type="botton">再計算</botton>

<!-- ここから合計金額表示部分 -->
<p>合計金額</p>
<p>¥0,000</p>
<!-- ここまで合計金額表示部分 -->

<botton type="botton">情報入力に進む</botton>