<h2>商品一覧</h2>

<!-- ここからジャンル検索リンク一覧部分 -->
<!-- ここまでジャンル検索リンク一覧部分 -->


<!-- ここから商品一覧部分 -->
<% @products.each do |product| %>
    <p>イメージ画像</p><%= product.image %>
    <p>商品名</p><%= product.name %>
    <p>税込価格</p><%= product.price %>
<% end %>
<!-- ここまで商品一覧部分 -->