<h2>商品詳細</h2>

<!-- ここからジャンル検索リンク一覧部分 -->
<!-- ここまでジャンル検索リンク一覧部分 -->


<!-- ここから商品詳細部分 -->
<p>イメージ画像</p><%= @product.image %>
<p>商品名</p><%= @product.name %>
<p>説明文</p><%= @product.text %>
<p>税込価格</p><%= @product.price %>
<p>個数選択</p>
<botton type="botton">カートに入れる</botton>
<!-- ここまで商品詳細部分 -->